.p_main {
    position: relative;
    padding: 100px 0;
    /* display: flex; */
}

.pm_container {
    background-color: #23A6F0;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.pmc_h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 50px;
}

.pmc_block {
    display: flex;
    align-items: center;
}

.pmcb_img {
    background-image: url('../../img/person-circle-outline.svg');
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.pmcbc_h1 {
    margin-bottom: 10px;
}

.pmcbc_p {
    margin-bottom: 5px;
}

.pm_container1 {
    border: 3px solid #23A6F0;
    padding: 50px;
    border-radius: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pmc1_h1 {
    color: rgb(0, 0, 0);
    opacity: .35;
    font-weight: 600;
    text-align: center;
}

.pmcb_button_cont {
    padding-left: 150px;
}

.pmcbbc_butt {
    border: none;
    background-color: #FFFFFF;
    color: #23A6F0;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    transition: all .1s linear;
}

.pmcbbc_butt:hover {
    background-color: black;
    color: white;
}

.pmc_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px 0;
    padding: 20px;
}

.pmcb_span {
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* margin-right: 50px; */
}
.pmcb_span1 {
    color: rgb(0, 195, 0);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}