.Main_Admin {
    position: relative;
    padding: 100px 0;
}

.ma_h1 {
    color: black;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 50px;
}

.ma_container {
    /* padding: 25px; */
    padding-bottom: 30px;
    margin: 150px 0;
    border: 3px solid #23A6F0;
    border-radius: 20px;
}

.mac_h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 50px;
    padding: 50px 0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-color: #23A6F0;
}

.macc_block {
    background-color: #23A6F0;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    position: relative;
}

.maccb_span {
    color: white;
    /* text-align: center; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0 ;
}

.mac_span {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    right: 30px;
    color: rgb(92, 255, 70);
}

.mac_butt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.macb_butt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    background-color: #23A6F0;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .1s linear;
}

.macb_butt:hover {
    background-color: #0876b6;
}

.ma_container1 {
    padding: 20px;
    margin-bottom: 150px;
    border: 3px solid #23A6F0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.mac1_left {
    border: 3px solid #23A6F0;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.mac1l_butt {
    border: none;
    border-radius: 20px;
    padding: 15px;
    background-color: #23A6F0;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0;
    cursor: pointer;
    transition: all .1s linear;
}

.mac1l_butt:hover {
    background-color: #0876b6;
}

.mac1_right {
    border: 3px solid #23A6F0;
    border-radius: 20px;
    min-width: 70%;
}